<div class="container">
  <br />
  <div class="jumbotron" style="background: #d4d4d4; border: 1px solid #c1c1c1;">
    <center><h1>Bootstrap Settlement <small>Rails</small></h1></center>
    <center><p>The Bootstrap Settlement is merely a jumpstart for your Rails projects.</p></center>
    <center><p><small>There are useful resources towards the bottom that will help you in your travels.</small></p></center>
    <center><div class="btn-group">
      <a href="https://github.com/viaforge/bootstrap-settlement" type="button" class="btn btn-primary btn-lg">View on Github</a>
      <a href="https://github.com/viaforge/bootstrap-settlement/fork" type="button" class="btn btn-primary btn-lg">Fork on Github</a>
    </div></center>
  </div>
  <div class="panel panel-primary">
    <!-- Default panel contents -->
    <div class="panel-heading">
      <h3 class="panel-title">General Project Info</h3>
    </div>

    <!-- Table -->
    <table class="table">
      <tr>
        <th>Rails version:</th>
        <td>4.0.2</td>
      </tr>
      <tr>
        <th>Ruby version:</th>
        <td>2.0.0</td>
      </tr>
      <tr>
        <th>Database:</th>
        <td>PostgreSQL</td>
      </tr>
    </table>
    <div style="margin-bottom: 0; border-top-right-radius: 0px; border-top-left-radius: 0px;" class="alert alert-info"><strong>Postgres</strong> is in the Gemile as <code>gem 'pg'</code> as well as in <code>/config/database.yml</code> - this is recommended for use with <a class="alert-link" href="https://devcenter.heroku.com/articles/sqlite3">Heroku Cedar (more info...)</a> stack.</div>
  </div>
  <div class="panel panel-primary">
    <!-- Default panel contents -->
    <div class="panel-heading">
      <h3 class="panel-title">Gems added to Gemfile for Bootstrap 3 <small style="color: #f2f2f2; margin-top: 3px;" class="pull-right">Click on a gem to view it on Github</small></h3>
    </div>

    <!-- List group -->
    <ul class="list-group">
      <li class="list-group-item">
        <a href="https://github.com/RailsApps/rails_layout" target="_new"><code>gem 'rails_layout'</code></a>
      </li>
      <li class="list-group-item">
        <a href="https://github.com/twbs/bootstrap-sass" target="_new"><code>gem 'bootstrap-sass'</code></a>
      </li>
      <div style="margin-bottom: 0; border-top-right-radius: 0px; border-top-left-radius: 0px;" class="alert alert-info"><strong>The Bootstrap 3 layout</strong> has been generated and lives under <code>/app/views/layouts</code></div>
    </ul>
  </div>

  <div class="jumbotron" style="background: #d4d4d4;">
    <center><h2>Rails and Bootstrap</h2></center>
    <center><p>Jumpstart your rails applications with this barebones setup of Bootstrap 3!</p></center>
    <center><p>Mixins are strong with this one...</p></center>
    <center><a target="_new" href="http://getbootstrap.com/customize/#less-variables">View available mixins</a></center>
    <center><small>Note: for use with SASS substitute the @ with $ as seen in the /app/stylesheets/framework_and_overrides.css.scss</small></center>
  </div>

  <div class="jumbotron" style="background: #d4d4d4;">
    <center><h2>Glyphicons and Font Awesome Icons!</h2></center>
    <center><i class="glyphicon glyphicon-bullhorn"></i> <strong>Glyphicons</strong> <i style="direction: rtl; -webkit-transform: rotateY(180deg); -moz-transform: rotateY(180deg); -o-transform: rotateY(180deg); -ms-transform: rotateY(180deg); unicode-bidi: bidi-override;" class="glyphicon glyphicon-bullhorn"></i></center>
    <center><p>are included in the Bootstrap Settlement via Bootstrap-SASS gem!</p></center>
    <center><h3>AND</h3></center>
    <center><i class="fa fa-flask"></i> <strong>Font Awesome</strong> <i style="direction: rtl; -webkit-transform: rotateY(180deg); -moz-transform: rotateY(180deg); -o-transform: rotateY(180deg); -ms-transform: rotateY(180deg); unicode-bidi: bidi-override;" class="fa fa-flask"></i></center>
    <center><p>icons have been included via the <code>@import url</code></p></center>
    <center><p>CSS in <small><code>/app/stylesheets/application.css.scss</code></small></p></center>
  </div>

  <div class="col-md-4" style="margin-top: 15px;">
    <div style="background: #428bca; padding: 15px; border: 1px solid #428bca;">
      <center><h2 style="color: #fff;">Bootstrap 3 Official</h2></center>
      <center><p style="color: #f2f2f2;">Over a dozen reusable components built to provide iconography, dropdowns, navigation, alerts, popovers, and much more. - getbootsrap.com</p><center>
      <center><a target="_new" href="http://getbootstrap.com/components/" class="btn btn-lg btn-success">View Components</a></center>
    </div>
  </div>
  <div class="col-md-4" style="margin-top: 15px;">
    <div style="background: #428bca; padding: 15px; border: 1px solid #428bca;">
      <center><h2 style="color: #fff;">Bootstrap 3 Bootsnip</h2></center>
      <center><p style="color: #f2f2f2;">Design elements, playground and code snippets for Bootstrap HTML/CSS/JS framework.  Discover free HTML code snippets for Bootstrap - bootsnip.com</p><center>
      <center><a target="_new" href="http://bootsnipp.com/" class="btn btn-lg btn-success">View Snipps</a></center>
    </div>
  </div>
  <div class="col-md-4" style="margin-top: 15px;">
    <div style="background: #428bca; padding: 15px; border: 1px solid #428bca;">
      <center><h2 style="color: #fff;">Bootstrap 3 Bootply</h2></center>
      <center><p style="color: #f2f2f2;">Bootply makes it easier to fiddle with Bootstrap. Edit Bootstrap-friendly CSS, HTML and JavaScript.  Rapidly design, build, and leverage our code repository.  - bootply.com</p><center>
      <center><a target="_new" href="http://bootply.com/" class="btn btn-lg btn-success">View Bootply</a></center>
    </div>
  </div>
</div>
<div class="container">
  <br />
  <br />
  <center>
    <iframe src="http://ghbtns.com/github-btn.html?user=viaforge&repo=bootstrap-settlement&type=watch&count=true&size=large"
    allowtransparency="true" frameborder="0" scrolling="0" width="190" height="30"></iframe>
    <iframe src="http://ghbtns.com/github-btn.html?user=viaforge&repo=bootstrap-settlement&type=fork&count=true&size=large"
    allowtransparency="true" frameborder="0" scrolling="0" width="190" height="30"></iframe>
    <iframe src="http://ghbtns.com/github-btn.html?user=givingbacksmiles&type=follow&count=true&size=large"
    allowtransparency="true" frameborder="0" scrolling="0" width="280" height="30"></iframe>
  </center>
</div>
<center><p><small>Repo buttons provided by: mdo <a target="_new" href="https://github.com/mdo/github-buttons">unofficial github-buttons</a></small></p></center>
<br />
<center><p>Authored by: <a href="https://github.com/givingbacksmiles">givingbacksmiles</a> for <a href="https://github.com/viaforge">ViaForge</a></p>