<div class="container">
  <div class="page-header">
    <center><h1>Welcome to Bootstrap Settlement <small>Rails</small></h1></center>
    <center><p>The Bootstrap Settlement is merely a starting point for your Rails projects.  Below describes what is used.</p></center>
  </div>
  <div class="panel panel-primary">
    <!-- Default panel contents -->
    <div class="panel-heading">Gems added to Gemfile for Bootstrap 3</div>

    <!-- List group -->
    <ul class="list-group">
      <a href="#"<li class="list-group-item"><code>gem 'rails_layout'</code></li></a>
      <a href="#"<li class="list-group-item"><code>gem 'bootstrap-sass'</code></li></a>
    </ul>
  </div>
</div>
