defaults: &defaults
  adapter: postgresql
  host: localhost
  encoding: unicode
  pool: 20
  user: username
  password: 
  min_messages: WARNING

development:
  <<: *defaults
  database: bootstrap-settlement_development

test:
  <<: *defaults
  database: bootstrap-settlement_test

production:
  <<: *defaults
  database: bootstrap-settlement_development