/* add mixins here... http://getbootstrap.com/customize/#less-variables - for more */
// Mixins
//// Color System
$brand-primary: #428bca;
$brand-danger: #d9534f;
$brand-success: #5cb85c;
$brand-info: #5bc0de;
$brand-warning: #f0ad4e;
//// Navbar
$navbar-default-bg: #444; // default is #f8f8f8
$navbar-default-border: darken($navbar-default-bg, 6.5%);
$navbar-default-brand-color: $brand-primary;
//////// Links
$navbar-default-link-color: #f2f2f2; // default is #777
$navbar-default-link-hover-color: #d4d4d4; // default is #333







// import the CSS framework
@import "bootstrap";

// make all images responsive by default
img {
  @extend .img-responsive;
  margin: 0 auto;
  }
// override for the 'Home' navigation link
.navbar-brand {
  font-size: inherit;
  }

// THESE ARE EXAMPLES YOU CAN MODIFY
// create your own classes
// to make views framework-neutral
.column {
  @extend .col-md-6;
  @extend .text-center;
  }
.form {
  @extend .col-md-6;
  }
.form-centered {
  @extend .col-md-6;
  @extend .text-center;
  }
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
  }
// apply styles to HTML elements
// to make views framework-neutral
main {
  @extend .container;
  background-color: #eee;
  padding-bottom: 80px;
  width: 100%;
  margin-top: 51px; // accommodate the navbar
  }
section {
  @extend .row;
  margin-top: 20px;
  }
